# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_KAWVIN_SPLIT89_DONGLE_DONGLE
    def_bool $(shields_list_contains,kawvin_split89_dongle_dongle)

config SHIELD_KAWVIN_SPLIT89_DONGLE_LEFT
    def_bool $(shields_list_contains,kawvin_split89_dongle_left)

config SHIELD_KAWVIN_SPLIT89_DONGLE_RIGHT
    def_bool $(shields_list_contains,kawvin_split89_dongle_right)
