# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_KAWVIN_SPLIT89_CENTRAL_LEFT
    def_bool $(shields_list_contains,kawvin_split89_central_left)

config SHIELD_KAWVIN_SPLIT89_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,kawvin_split89_peripheral_left)

